.App {
    text-align: center;
}

.center, .center-column, .center-row, .top, .right, .bottom, .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.padding-2{
    padding: 2rem
}

.res-padding-2{
    padding: 2rem
}

.padding-1{
    padding: 1rem
}

.res-padding-1{
    padding: 1rem
}

.is-fullh{
    min-height: 100vh;
}

.hide-overflow{
    overflow: hidden;
}

.stretch-items{
    align-items: stretch;
}

.fa {
    color: #c65353;
}

.boards-container{
    margin: 1rem 2rem 3rem;
}

.sounds-container{
    padding: 1rem;
    margin:auto;
}

.select{
    padding: 0.5rem;
    margin: auto 1rem auto;
    border-color: #00d1b2;
}

.select select:focus{
    border-color: #00d1b2;
}

.select select{
    font-size: 16px;
    background-color: #31303b;
    color: #849f96;
}

.tabs{
    padding: 0.5rem;
    margin: auto;
    font-size: 18px;
}

.tabs li.is-active a {
    border-bottom-color: #000000;
    color: #7763A9;
    background-color: #1f1f1f;
    border-radius: 2px;
    border-bottom: 3px solid;
    font-weight: bold;
}

@media only screen and (min-width: 769px) {
    /* For desktop: */
    .right-desktop  { justify-content: flex-end;   }
    .left-desktop   { justify-content: flex-start; }

    .nav-menu{
        display: none;
    }

    .drop-menu{
        display: none;
    }

    .mobile-only{
        display: none;
    }
}

@media (max-width: 768px) {
    .desktop {
        display: none;
    }

    .center-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .res-padding-1{
        padding: 0.5rem
    }

    .res-padding-2{
        padding: 1rem
    }

    .mobile-center-column{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}